{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_team.css') }}">
{% endblock %}
{% block content %}
    <div class="team-form">
        <h1>Add Team to: {{ tournament.name }}</h1>
        <form method="POST">
            <label for="name">Team Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="score">Initial Score:</label>
            <input type="number" id="score" name="score" value="0">
            
            <button type="submit" class="button-sub">Add Team</button>
        </form>
    </div>

{% endblock %}