{% extends "base.html" %}
{% block content %}
    <div class="nav">
        <button class="home">
            <img src="{{ url_for('static', filename='img/home.svg') }}" alt="home icon svg">
        </button>
        <h1>Tournament Manager Dashboard</h1>
    </div>

    <hr>
    <nav class="title_one">
        <h2>Existing Tournaments</h2>
        <a href="{{ url_for('new_tourn_route') }}"><button class="button-green"> Create New Tournament</button></a>
    </nav>
    {% if tournaments %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for t in tournaments %}
                <tr>
                    <td><a href="{{ url_for('view_team', tourn_id=t.id) }}">{{ t.name }} (ID: {{ t.id }})</a></td>
                    <td>{{ t.type.capitalize() }}</td>
                    <td>{{ t.status }}</td>
                    <td>
                        <a href="{{ url_for('standings_route', tourn_id=t.id) }}"><button>Standings</button></a> |
                        <a href="{{ url_for('update_tourn_route', tourn_id=t.id) }}"><button>Update</button></a> |
                        {% if t.type == 'teamed' %}
                            <a href="{{ url_for('add_team_route', tourn_id=t.id) }}"><button>Add Team</button></a> |
                        {% endif %}
                        <form method="POST" action="{{ url_for('delete_tourn_route', tourn_id=t.id) }}" style="display:inline;">
                            <button type="submit" class="button-dng" onclick="return confirm('Are you sure you want to delete {{ t.name }}?')">&cross; Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tournaments found. Start by creating one!</p>
    {% endif %}
{% endblock %}